.add-menu {
  width: 320px;
  position: absolute;
  top: $header-height;
  right: 0;
  background-color: $tan;
  padding: 20px;
  border-radius: 4px;
  z-index: 3;
  h1 {
    font-size: 1.5em;
    text-align: center;
  }
  #new-album {
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      margin-top: 16px;
      align-self: flex-start;
      margin-left: 5px;
    }
    input {
      border-radius: 4px;
      line-height: 32px;
      width: 100%;
      background-color: lighten($green, 10%);
      border-style: inset;
      border: 2px solid $navy;

      &:focus {
        outline-color: lighten($navy, 30%);
      }
    }
    button {
      margin-top: 40px;
      height: 47px;
      width: 167px;
      border-radius: 7px;
      background-color: $green;
      border: 2px solid $navy;
    }
  }

}
