// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  overflow: auto;
  height: $header-height;
  background-color: $navy;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  font-family: $logo-font;
  .logo {
    display: flex;
    align-items: center;
  }
  h1 {
    color: $tan;
    letter-spacing: 2px;
  }
  img {
    height: 60px;
    width: 60px;
    margin: 10px;
    animation: record-spin 3s linear infinite;
  }
}

@keyframes record-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
